body {
  background: black;
  color: #00b800;
}

.header {
  background: #3F51B5;
  text-align: center;
}

.wordBar {
  text-align: center;
}

.wordBar h1 {
  margin-top: -20px;
}

.typingBox {
  text-align: center;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;

}

.correctWords {
  text-align: center;
}

.time {
  text-align: center;
}

.time h1 {
  margin-top: -20px;
}

.start {
  text-align: center;
  margin-Left: auto;
}

.start button {
  font-size: 40px;
}

.Dark-theme, .Light-theme {
  text-align: center;
}

.Dark-theme {
  background: black;
  color: #00b800;
}

.Light-theme {
  background-color: whitesmoke;
  color: #333333;
}

.button {
  font-size: 20px;
}

.scoreboard {
  height: 700px;;
}

.scoreboardHeader {
  margin-top: 100px;
}